# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

df = pd.read_csv('weather.csv')
df.head()

,City latitude,City longitude,Max temperature,Humidity,Cloud coverage,Wind speed,City country,City,City datetime
0,13.743611,-89.498889,296.37,91,59,1.38,SV,armenia,1651212048
1,27.016667,-108.933333,294.46,27,4,0.80,MX,alamos,1651212000
2,32.657778,-117.029167,288.66,73,100,2.57,US,bonita,1651212266
3,16.356944,-94.482500,301.07,65,4,1.23,MX,ixhuatan,1651212267
4,48.800000,9.600000,282.90,80,34,1.17,DE,pluderhausen,1651212268

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

map = gmaps.Map()
heat_amp = gmaps.heatmap_layer(df[['City latitude', 'City longitude']], weights=df['Humidity'])

map.add_layer(heat_amp)
map

Map(configuration={'api_key': 'AIzaSyBJi5A4jgkEFuIn193S3wFayi9AqZ7WcDY'}, data_bounds=[(-15.197793468232163, -…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
df['fahrenheit'] = (df['Max temperature'] - 273.15) * 9 /5  + 32
df['mph'] = df['Wind speed'] * 25 / 11
df = df[ (df['fahrenheit'] > 70) & (df['fahrenheit'] < 80) 
         & (df['mph'] < 10) & (df['Cloud coverage'] == 0)] 
# TODO
# # load  larger number of cities or a random set of cities
# # so that we can mee the cloudines criteria         
df

,City latitude,City longitude,Max temperature,Humidity,Cloud coverage,Wind speed,City country,City,City datetime,fahrenheit,mph
77,-15.650000,-56.133333,296.08,83,0,1.03,BR,varzea grande,1651212319,73.274,2.340909
95,40.442222,49.980556,296.00,43,0,3.09,AZ,ramana,1651212333,73.130,7.022727
218,29.603600,52.538800,295.84,28,0,2.06,IR,shiraz,1651212420,72.842,4.681818
221,30.461389,-87.315000,295.26,95,0,2.06,US,bellview,1651212422,71.798,4.681818
406,31.000000,-114.866667,296.00,13,0,0.84,MX,san felipe,1651212554,73.130,1.909091
434,32.407931,34.924332,295.42,49,0,1.24,IL,elyakhin,1651212574,72.086,2.818182
473,18.283333,-93.316667,297.49,81,0,2.40,MX,tecolutilla,1651212602,75.812,5.454545
508,33.433333,36.083333,297.39,46,0,2.19,SY,qatana,1651212637,75.632,4.977273

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
import requests
hotel_df = pd.DataFrame(
        df[['City','City country','City latitude', 'City longitude']])

In [6]:
hotel_df['Hotel Name'] = ''

#hotel_df.rename(columns={'City country': 'Country', 'City latitude': 'Latitude',
#        'City longitude': 'Longitude'}, inplace=True)

# but to comply wih the cell below we need
hotel_df.rename(columns={'City country': 'Country', 'City latitude': 'Lat',
        'City longitude': 'Lng'}, inplace=True)


for i,row in hotel_df.iterrows():
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={0}%2C{1}&radius=50000&type=hotel&keyword=hotel&key={2}".format(
#        40.730610, -73.9352, g_key)
        row['Lat'], row['Lng'], g_key)

    payload={}
    headers = {}

    response = requests.request("GET", url, headers=headers, data=payload)
    result = response.json()
    if result['results']:
        #print(result['results'][0])
        print(result['results'][0]['name'])
        hotel_df.at[i, 'Hotel Name'] = result['results'][0]['name']

Mato Grosso Palace Hotel
Park Inn By Radisson Baku Hotel
Hotel Payam
Best Western Premier, Tides Hotel
Sandollar Hotel
Cinema Hotel
Hotel & Suites Real Del Lago
Al Bustan Hotel

In [7]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
77,varzea grande,BR,-15.650000,-56.133333,Mato Grosso Palace Hotel
95,ramana,AZ,40.442222,49.980556,Park Inn By Radisson Baku Hotel
218,shiraz,IR,29.603600,52.538800,Hotel Payam
221,bellview,US,30.461389,-87.315000,"Best Western Premier, Tides Hotel"
406,san felipe,MX,31.000000,-114.866667,Sandollar Hotel
434,elyakhin,IL,32.407931,34.924332,Cinema Hotel
473,tecolutilla,MX,18.283333,-93.316667,Hotel & Suites Real Del Lago
508,qatana,SY,33.433333,36.083333,Al Bustan Hotel

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,  info_box_content=hotel_info)
map.add_layer(marker_layer)
# Display figure
map

Map(configuration={'api_key': 'AIzaSyBJi5A4jgkEFuIn193S3wFayi9AqZ7WcDY'}, data_bounds=[(-15.197793468232163, -…